html, body {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
p {
    margin: 15px 0px;
    height: 60px;
    line-height: 60px; /* This should match with height for aligning w.r.t. vertical line */
    font-size: x-large;
    text-align: center;
    color: white;
    background-color: black;
  }